* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --black: #1A1D23;
  --pink: #FF57B2;
  --white: #F8F8F8;
  --gray-200: #BBBBBB;
  --gray-50: #D7D7D7;
}

html {
  @media (max-width: 1080px) { 
    font-size: 93.75%; //15px
  }

  @media (max-width: 720px) { 
    font-size: 87.5%; //14px
  }
}

body {
  background-color: var(--black);
  -webkit-font-smoothing: antialiased;  //fontes mais nítidas e detalhadas
}

body, input, textarea, button {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

h1 , h2 , h3, h4, h5, h6, strong {
  font-weight: 600;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}
